@font-face {
  font-family: product;
  src: url(../assets/fonts/Product.ttf);
}

@font-face {
  font-family: questrial;
  src: url(../assets/fonts/Questrial-Regular.ttf);
}

@font-face {
  font-family: sanfrancisco;
  src: url(../assets/fonts/San-Francisco.otf);
}

@font-face {
  font-family: sanfrancisco-light;
  src: url(../assets/fonts/San-Francisco-Light.otf);
}

@font-face {
  font-family: tiempos-headline;
  src: url(../assets/fonts/tiempos-headline.woff2);
}

@font-face {
  font-family: modern-era;
  src: url(../assets/fonts/modern-era.ttf);
}

@media screen and (max-width: 414px) {
  body {
    background-color: black;
    color: #eae9e9;
  }

  h1 {
    font-size: 2.4rem !important;
  }

  h2 {
    font-size: 2.12rem !important;
    /* margin-right: 3rem; */
    margin-bottom: 8rem;
  }

  h1,
  h2 {
    color: #eae9e9 !important;
  }

  h2 a {
    color: #eae9e9 !important;
  }

  h3 a {
    color: #eae9e9 !important;
  }

  .social a {
    color: #eae9e9;
  }

  .social a:visited {
    color: #eae9e9;
  }

  #change-text {
    background-image: linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 50%,
      #fff 50%
    ) !important;
  }

  .project-title-highlight {
    border-top: 1px solid #fff !important;
    padding-bottom: var(--flow-space);
  }

  .contact-text {
    padding: 1.8rem !important;
  }

  .footer-text {
    font-size: 0.9rem !important;
    margin-top: 2.5rem !important;
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
    padding: 2.7rem !important;
    font-weight: 500 !important;
  }
}

:root {
  --primary-color: #111111;
  --secondary-color: #363636;
  --flow-space: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  display: flex;
  height: 100%;
}

.row {
  margin-left: 1rem;
}

div {
  display: block;
}

p {
  max-width: 400px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  object-fit: contain;
}

/* Typography */

h1,
h2 {
  color: var(--secondary-color);
}

h1 {
  font-family: sanfrancisco, sans-serif;
  font-weight: 500;
  font-size: 3rem;
  letter-spacing: -0.05rem;
}

h2 {
  font-family: sanfrancisco-light, sans-serif;
  font-weight: lighter;
  max-width: 880px;
  font-size: 3rem;
}

.projects {
  margin-top: 3rem;
}

.projects-title {
  font-weight: 500;
  color: #363636;
  margin-bottom: 0rem;
  padding-bottom: 0rem;
}

.project-title-highlight {
  border-top: 1px solid #000;
  padding-bottom: var(--flow-space);
}

.project-title {
  color: #000 !important;
  margin-top: 80px;
}

.footer {
  padding-top: 3rem;
}

.p footer {
  font-weight: 400;
  font-size: 2.3vh;
  line-height: 2.5rem;
  color: #4a4a4a;
  background-color: #fff;
  padding-top: 3.5rem;
}

.footer-text {
  font-size: 0.9rem;
  padding: 1.8rem;
  font-weight: 500;
}

.contact-text li {
  font-size: 0.3rem !important;
}

/* Structure */

.social p {
  font-family: product, sans-serif;
  font-size: calc(16rem / 16);
  opacity: 0.5;
  padding-top: 2rem;
  margin-bottom: 0rem;
}

.tech-stack {
  font-weight: 500;
}

.introduction,
.projects {
  padding: 4.2rem 2rem 0.5rem;
}

.project {
  padding-top: 1rem;
  padding-bottom: 2.5rem;
  padding-right: 2.5rem;
  margin-bottom: 0rem;
}

.has-text-centered {
  text-align: center !important;
}

/* Links */

#change-text {
  cursor: pointer;
  font-weight: 600;
  background-image: linear-gradient(to right, #fedd00, #fedd00 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

#change-text:before {
  content: "";
  background: #fedd00;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
}

#change-text:hover {
  color: #fedd00;
  background-position: 0;
}

#change-text:hover::before {
  width: 0%;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:visited,
a:active {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #fedd00;
  transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -ms-transition: ease 0.3s;
  -o-transition: ease 0.3s;
}

.social a {
  font-family: product, sans-serif;
  font-size: 1.066em;
  line-height: 1.154em;
  display: block;
  padding: 1px 0;
  transition: 0.2s;
}

/* Underline Animation */

.un {
  display: inline-block;
  padding-bottom: 1px;
  background-image: linear-gradient(#575656 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 0.5px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s; /*change after the size immediately*/
}

.un:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 1px;
  text-decoration: none;
  color: #000000;
}

.un:visited {
  text-decoration: none;
  color: #000000;
}

/* Introduction Animation */
.typewriter h1 {
  color: var(--secondary-color);
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 10 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

.typewriter h2 {
  color: var(--secondary-color);
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: wrap; /* Keeps the content on a single line */
  margin: 10 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The Typing Effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Subtitle Animation */

.text-fade-up h2 {
  overflow: hidden;
  animation: fade-up 3s;
  -webkit-animation: fade-up 3s;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
    -webkit-transform: translateY(0rem);
    -moz-transform: translateY(0rem);
    -ms-transform: translateY(0rem);
    -o-transform: translateY(0rem);
  }
}

/* Scroll-into-view animation */

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
  -webkit-transform: translateY(150px);
  -moz-transform: translateY(150px);
  -ms-transform: translateY(150px);
  -o-transform: translateY(150px);
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* UX Page Related */

#overview {
  margin-left: 2rem;
  margin-right: 1.5rem;
}

.ux-page {
  background-color: #fff;
  flex-direction: column;
}

.ux-nav-button {
  font-family: product, sans-serif;
  font-size: 1.1rem;
}

.split-content.header-center {
  width: 100%;
  max-width: 100%;
  text-align: right;
  flex-direction: row;
  flex: 0 auto;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
  margin-top: 2rem;
  margin-right: 1.8rem;
}

.header-navigation {
  color: #fff;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.header-navigation.main {
  text-align: right;
  flex-direction: row;
  flex: none;
  order: 0;
  justify-content: space-between;
  align-self: auto;
  align-items: center;
  margin-right: 3.5rem;
}

.page-wrapper {
  position: relative;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.page-wrapper.hidden-overflow {
  overflow: hidden;
}

.page-wrapper .ux-page {
  background-color: #fff;
}

.nav-menu {
  color: #fff;
  text-align: right;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.nav-item-wrapper {
  color: #fff;
  margin-right: 1.8vw;
}

.nav-item-wrapper.mobile {
  display: none;
}

.w-nav-menu {
  float: right;
  position: relative;
}

.section-1 {
  background-color: #f6f6f6;
  justify-content: center;
  display: flex;
}

.section-1.hinge {
  background-color: #fff;
  margin-top: 2.5rem;
}

.section-3 {
  background-color: #000;
  margin-top: 2.5rem;
  margin-right: 3.5rem;
  padding-top: 2.5rem;
  padding-bottom: 4.5rem;
}

.section-4 {
  background-color: #f6f6f6;
  justify-content: center;
  display: flex;
}

.section-4.needfinding {
  background: #fff;
  justify-content: left;
}

.section-5 {
  background-color: #000;
  margin-top: 2.5rem;
  margin-right: 3.1rem;
  padding-top: 2.5rem;
  padding-bottom: 4.5rem;
}

.section-6 {
  background-color: #fff;
  margin-right: 3.1rem;
  padding-top: 2.5rem;
  padding-bottom: 4.5rem;
}

.section-7 {
  background-color: #000;
  margin-top: 2.5rem;
  margin-right: 3.1rem;
  padding-top: 2.5rem;
  padding-bottom: 4.5rem;
}

.section-content-l {
  background: #f8f8f8;
  height: 40vh;
  width: 63vw;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-wrap: wrap;
}

.interview {
  height: 50vh;
}

.section-content-r {
  background: #f8f8f8;
  height: 45vh;
  margin-top: 1.5rem;
  text-wrap: wrap;
}

.section-title {
  padding-top: 5rem;
  padding-left: 2rem;
  font-weight: bold;
  color: #682860;
  text-transform: uppercase;
  text-align: left;
  text-wrap: wrap;
}

.section-title.dark-bg {
  color: #d9c9d7;
}

.interview-title {
  padding-top: 7rem;
}

.interview-questions {
  display: flex;
  margin-top: 2rem;
  margin-left: 4.2rem;
  margin-right: 1.5rem;
}

.word-vomit {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-weight: 700;
  font-size: 1.8rem;
}

.research-goals {
  display: flex;
  font-display: row;
}

.research-goals-outline {
  margin-top: 2.5rem;
}

.background {
  background-color: #fff;
  width: 100vw;
}

.tagline {
  font-family: "tiempos-headline", serif;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: -1px;
  line-height: 3.8rem;
  margin-top: 5rem;
  margin-left: 10rem;
}

.tagline.dark {
  color: #fffefd;
}

.needfinding-content {
  margin-top: 2rem;
  color: #000;
  text-transform: none;
  font-weight: normal;
  max-width: 60vw;
}

.needfinding-content-1 {
  margin-top: 1rem;
  color: #000;
  text-transform: none;
  font-weight: normal;
  max-width: 60vw;
}

.needfinding-content.bulletpoint {
  margin-top: 0rem;
}

.needfinding-content.bulletpoint.tagline.light {
  margin-top: 5rem;
  margin-left: 6rem;
}

.numeric-text {
  margin-top: 2rem;
  text-align: center;
  font-size: 5rem;
  font-family: "tiempos-headline", serif;
  color: #682860;
  font-weight: 300;
  letter-spacing: 0.03em;
  line-height: 1;
}

.numeric-text.dark-bg {
  color: #d9c9d7;
}

.result-card-wrapper-1 {
  display: flex;
  margin-left: 0.6rem;
  width: 80vw;
}

.result-card-wrapper-2 {
  display: flex;
  margin-left: 0.6rem;
  width: 60vw;
}

.result-card-wrapper-top {
  display: flex;
  margin-left: 10rem;
}

.result-card-top {
  margin-left: 6rem;
}

.result-card {
  flex-direction: row;
  margin-right: 1rem;
  text-wrap: wrap;
}

.result-card.interview-questions-number {
  margin-left: 1.8rem;
  text-align: left;
  font-size: 3rem;
  width: 22vw;
}

.result-text {
  margin-top: 1rem;
  font-family: var(--bs-body-font-family), sans-serif;
  color: #000;
  font-size: 1.1rem;
  text-align: left;
  letter-spacing: -0.05em;
  text-transform: none;
}

.result-text.dark-bg {
  color: #d9c9d7;
}

.description-1 {
  margin-top: 2rem;
}

.description-2 {
  margin-top: 2.5rem;
  margin-left: -1.1rem;
}

.description-3 {
  margin-top: 2.5rem;
  margin-left: 15.8rem;
}

.description-4 {
  margin-top: 2.5rem;
  margin-left: 16.3rem;
}

.description-5 {
  margin-top: 2.5rem;
  margin-left: 20.5rem;
}

.gap-y-12 {
  row-gap: 3rem;
}
.gap-x-gutter {
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid {
  display: grid;
  margin-left: 10rem;
}

.sans-lg-bold,
.sans-lg-regular {
  font-family: "modern-era", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0;
}

.user-needs-grid {
  margin-top: 5rem;
  margin-right: 3.5rem;
  padding-top: 1.2rem;
  border-top: 1px solid #3e3d3d;
}

.user-needs-title {
  color: #f8f8f8;
  font-weight: 900;
  font-size: 1.2rem;
  letter-spacing: -0.05em;
  margin-bottom: 2rem;
}

.user-needs-content {
  color: #f8f8f8;
}

.user-quote {
  margin-top: 5rem;
  font-family: "tiempos-headline", serif;
  font-size: 2rem;
  color: #f8f8f8;
}

.user-quote-2 {
  margin-top: 3.5rem;
  font-family: "tiempos-headline", serif;
  font-size: 2rem;
  color: #f8f8f8;
}

/* .user-needs-wrapper {
  margin-left: -4rem;
} */

.affinity-map {
  margin-top: 3rem;
  /* margin-left: 10rem;
  margin-right: 3.5rem; */
}

.affinity-map-2 {
  margin-top: 2rem;
  margin-left: -5rem;
  margin-bottom: 2rem;
}

.image-wrapper {
  display: flex;
  justify-content: center;
}

.image-wrapper.persona {
  margin-top: 5rem;
}
