@font-face {
  font-family: questrial;
  src: url(../assets/fonts/Questrial-Regular.ttf);
}

@font-face {
  font-family: product;
  src: url(../assets/fonts/Product.ttf);
}

@font-face {
  font-family: sanfrancisco;
  src: url(../assets/fonts/San-Francisco.otf);
}

@font-face {
  font-family: sanfrancisco-light;
  src: url(../assets/fonts/San-Francisco-Light.otf);
}

:root {
  --primary-color: #0f4c81;
  --secondary-color: #111111;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  display: flex;
  height: 100%;
}

div {
  display: block;
}

p {
  max-width: 400px;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

/* Structure */

.project {
  padding-top: 1rem;
  padding-bottom: 2.5rem;
  padding-right: 3.5rem;
}

.has-text-centered {
  text-align: center !important;
}

.social p {
  font-family: product, sans-serif;
  font-size: calc(16rem / 16);
  opacity: 0.5;
  padding-top: 2rem;
  margin-bottom: 0rem;
}

.introduction,
.projects {
  padding: 4.2rem 3rem 0.5rem;
}

/* Links */

a,
a:visited,
a:active {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #3ddc84;
}

.content a:hover {
  color: #ffd60a;
}

.social a {
  font-family: questrial, sans-serif;
  font-size: calc(17rem / 16);
  line-height: calc(18rem / 16);
  display: block;
  padding: 1px 0;
}

/* Introduction Animation */
.typewriter h1 {
  color: var(--secondary-color);
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 10 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The Typing Effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Subtitle Animation */

.text-fade-up h2 {
  overflow: hidden;
  animation: fade-up 3s;
  -webkit-animation: fade-up 3s;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
    -webkit-transform: translateY(0rem);
    -moz-transform: translateY(0rem);
    -ms-transform: translateY(0rem);
    -o-transform: translateY(0rem);
  }
}

/* Typography */

h1,
h2 {
  color: var(--secondary-color);
}

h1 {
  font-family: sanfrancisco, sans-serif;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: -0.05rem;
}

h2 {
  font-family: sanfrancisco-light, sans-serif;
  font-weight: lighter;
  max-width: 880px;
  font-size: 2.5rem;
}

.projects-title {
  font-weight: 500;
  color: #363636;
  margin-bottom: 1.5rem;
  padding-bottom: 0rem;
}

footer {
  font-weight: 400;
  font-size: 2.3vh;
  line-height: 2.5rem;
  color: #4a4a4a;
  background-color: #fff;
  padding-top: 3.5rem;
}

.footer-text {
  font-size: 1.75vh;
  padding: 1.8rem;
}
